name: "retailify-dev"

services:
  postgresql:
    image: postgres:latest
    ports:
      - 5433:5432
    environment:
      - POSTGRES_USER=dev
      - POSTGRES_PASSWORD=dev
      - POSTGRES_DB=dev
    volumes:
      - postgresql-data:/var/lib/postgresql/data

  redis:
    image: redis:latest
    ports:
      - 6380:6379
    environment:
      - REDIS_PASSWORD=dev
    command:
      [
        "redis-server",
        "--requirepass",
        "dev",
        "--user",
        "dev",
        "on",
        ">dev",
        "~*"
      ]
    volumes:
      - redis-data:/data

volumes:
  postgresql-data:
  redis-data:
